{% extends 'administration/product_base.html' %}
{% block content %}

<div class="card">
    <div class="card-top-section">
        <div class="row title">
            確定要刪除「{{ category }}」嗎？<br>
            此動作將無法復原。<br>
            請注意：所有「{{ category }}」產品也都會被刪除。
        </div>
        <div class="row function">
            <form method="post">{% csrf_token %}
                <input class="button normal-btn" type="submit" value="確認刪除">
            </form>
        </div>
    </div>
</div>


{% endblock %}