<h1>All Orders</h1>

<a href="{% url 'administration:create_order' %}">Add</a>
<ol>
{% for order in object_list %}
    <li>
        <a href="{% url 'administration:order_detail' order.id %}">Order {{ order.id }}</a>
        <a href="{% url 'administration:update_order' order.id %}">Edit</a>
        {{ order.get_payment_display }} 
        {{ order.get_status_display }} 
        {% if order.status == 1 and order.payment == 0 %}
            {% if order.remittance_account %}
                <form action="{% url 'administration:order_confirm_paid' order.id %}" method="get">{% csrf_token %}
                    <input type="hidden" name="current_page" value="order_index">
                    <input type="submit" value="確認收到付款">
                </form>
            {% else %}
                正在等待顧客填寫匯款帳號 
            {% endif %}
        {% endif %}
    </li>
{% endfor %}
</ol>