{% extends 'administration/promo_base.html' %}
{% block content %}


<div class="card">
    <div class="card-top-section">
        <div class="row title">
            {{ promo }}
        </div>
    <div class="card-section">
        <div class="row sub-title">
            新增優惠碼
        </div>
        <div>
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                {% for field in form %}
                <div class="container-jcleft row">
                    <div class="attribute-name">
                        {{ field.label }}
                    </div>
                    <div class="attribute">
                        {{ field }}
                    </div>
                </div>
                {% endfor %}
                <div class="container-jcleft row">
                    <input class="button normal-btn" type="submit" value="下一步">
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}