{% extends 'administration/promo_base.html' %}
{% block content %}

<div class="card">
    <div class="card-top-section">
        <div class="row title">
            {{ promo }}
        </div>
        <div class="row status">
            {{ promo.discount_type_description }}
        </div>
        <div class="row function">
            
            </form>
            <form action="{% url 'administration:promo_type_update' promo.id %}" method="get">
                <input class="button normal-btn" type="submit" value="編輯">
            </form>
        </div>
    </div>
    <div class="card-section">
        <div class="row sub-title">
            內容
        </div>
        <div class="row container-jcleft">
            <div class="attribute-name">
                優惠代碼
            </div>
            <div class="attribute">
                {{ promo.code }}
            </div>
        </div>
        <div class="row container-jcleft">
            <div class="attribute-name">
                優惠內容
            </div>
            <div class="attribute">
                {{ promo.discount_type_description }}
            </div>
        </div>
        <div class="row container-jcleft">
            <div class="attribute-name">
                使用次數
            </div>
            <div class="attribute">
                {{ promo.used_count }}
            </div>
        </div>
    </div>
    <div class="card-section">
        <div class="row sub-title">
            使用條件
        </div>
        <div class="row container-jcleft">
            <div class="attribute-name">
                滿額條件
            </div>
            <div class="attribute">
                {{ promo.total_amount_limit_description }}
            </div>
        </div>
        <div class="row container-jcleft">
            <div class="attribute-name">
                時間限制
            </div>
            <div class="attribute">
                {{ promo.time_limit_description }}
            </div>
        </div>
        <div class="row container-jcleft">
            <div class="attribute-name">
                剩餘數量
            </div>
            <div class="attribute">
                {{ promo.total_count_limit_description }}
            </div>
        </div>
    </div>
</div>


{% endblock %}
