{% extends 'administration/order_base.html' %}
{% block content %}

<div class="card">
    <div class="card-top-section">
        <div class="row title">
            {{ promo }}
        </div>
    <div class="card-section">
        <div class="row sub-title">
            編輯優惠碼
        </div>
        <div>
            <form method="post">{% csrf_token %}
                {% for field in form %}
                <div class="container-jcleft row">
                    <div class="attribute-name">
                        {{ field.label }}
                    </div>
                    <div class="attribute">
                        {{ field }}
                    </div>
                </div>
                {% endfor %}
                <div class="container-jcleft row">
                    <input class="button normal-btn" type="submit" value="{{ next }}">
                </div>
            </form>
        </div>
    </div>
</div>



<!-- <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update">
</form> -->


{% endblock %}