{% extends 'base.html' %}
{% block content %}

<div class="caption"">
    購物車
</div>

<div class="message tacenter">
    <div class="big-message">
        以下是您購物車中的商品 NT$ {{ total_amounts }}
    </div>
    <div class="shipping-fee-message">
        含運費 NT$ 60
    </div>
    <div class="function">
        {% if not is_not_valid %}
            <a class="create-order button" href="{% url 'order:create' %}">成立訂單</a>
        {% endif %}
    </div>
</div>

<div class="product-items">
    {% for item in cart_items %}
        <div class="product-item">
            <div class="container-jcleft row">
                <div class="product-name">
                    <a href="{% url 'products:detail' item.product.id %}">{{ item.product }}</a>
                </div>
                <div class="product-amount-price taright container-jcleft">
                    <div class="product-amount">
                        {{ item.amount }}
                    </div>
                    <div class="product-price">
                        NT$ {{ item.total_amounts }}
                    </div>
                </div>
            </div>
            <div class="container-jcright row function">
                {% if item.amount < item.product.inventory_quantity %}
                    <form action="{% url 'order:cart_item_edit' %}" method="post">{% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ item.product.id }}">
                        <input type="hidden" name="amount" value="1">
                        <input type="submit" class="button" value="+">
                    </form>    
                {% elif item.amount > item.product.inventory_quantity %}
                    庫存不足
                {% endif %}
                <form action="{% url 'order:cart_item_edit' %}" method="post">{% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ item.product.id }}">
                    <input type="hidden" name="amount" value="-1">
                    <input type="submit" class="button" value="-">
                </form>
                <form action="{% url 'order:cart_item_edit' %}" method="post">{% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ item.product.id }}">
                    <input type="hidden" name="amount" value="-{{ item.amount }}">
                    <input type="submit" class="button" value="移除">
                </form>
            </div>
        </div>
    {% endfor %}
</div>

<div class="total">
    <div class="container-jcright row shipping-fee">
        <div class="total-left taright">
            運費
        </div>
        <div class="total-right taright">
            NT$ 60
        </div>
    </div>
    <div class="container-jcright row total-amounts">
        <div class="total-left taright">
            總金額
        </div>
        <div class="total-right taright">
            NT$ {{ total_amounts }}
        </div>
    </div>
    <div class="container-jcright row function">
        {% if not is_not_valid %}
            <a class="create-order button" href="{% url 'order:create' %}">成立訂單</a>
        {% endif %}
    </div>
</div>




<!-- <h1>Cart</h1>

<ol>
{% for item in cart_items %}
    <li>
        <a href="{% url 'products:detail' item.product.id %}">{{ item.product }}</a>
        <p>${{ item.product.unit_price }} * {{ item.amount }}</p>
        <p>{{ item.product.inventory_quantity }} </p>
        {% if item.amount < item.product.inventory_quantity %}
            <form action="{% url 'order:cart_item_edit' %}" method="post">{% csrf_token %}
                <input type="hidden" name="product_id" value="{{ item.product.id }}">
                <input type="hidden" name="amount" value="1">
                <input type="submit" value="+">
            </form>
        {% elif item.amount > item.product.inventory_quantity %}
            <p>庫存不足</p>
        {% endif %}
        <form action="{% url 'order:cart_item_edit' %}" method="post">{% csrf_token %}
            <input type="hidden" name="product_id" value="{{ item.product.id }}">
            <input type="hidden" name="amount" value="-1">
            <input type="submit" value="-">
        </form>
        <form action="{% url 'order:cart_item_edit' %}" method="post">{% csrf_token %}
            <input type="hidden" name="product_id" value="{{ item.product.id }}">
            <input type="hidden" name="amount" value="-{{ item.amount }}">
            <input type="submit" value="Remove">
        </form>
    </li>
{% endfor %}
</ol>

{% if not is_not_valid %}
    <a href="{% url 'order:create' %}">Create order</a>
{% endif %} -->

{% endblock %}