{% extends 'base.html' %}
{% block content %}

<div class="caption"">
    {{ order }}
</div>

{% if not order %}
<div class="message tacenter">
    <div class="big-message">
        {{ error_message }}
    </div>
</div>
{% else %}
<div class="message tacenter">
    <div class="big-message">
        {{ order.customer_status_description }}
    </div>
</div>

<div class="product-info">
    <div class="title">
        運送資料
    </div>
    {% if shipping_data_form %}
        <form action="{% url 'order:next_step' %}" method="post">{% csrf_token %}
            <input class="create-order button" type="submit" value="確認並送出">
            <input type="hidden" name="order_id" value="{{ order.id }}">
            {% for field in shipping_data_form %}
                <div class="container-jcleft row">
                    <div class="attribute-name">
                        {{ field.label_tag }}
                    </div>
                    <div class="attribute">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
        </form>
    {% else %}
        <div class="container-jcleft row">
            <div class="attribute-name">
                收件人
            </div>
            <div class="attribute">
                {{ order.user_name }}
            </div>
        </div>
        <div class="container-jcleft row">
            <div class="attribute-name">
                稱謂
            </div>
            <div class="attribute">
                {{ order.get_user_gender_display }}
            </div>
        </div>
        <div class="container-jcleft row">
            <div class="attribute-name">
                聯絡電話
            </div>
            <div class="attribute">
                {{ order.user_contact_phone_no }}
            </div>
        </div>
        <div class="container-jcleft row">
            <div class="attribute-name">
                郵遞區號
            </div>
            <div class="attribute">
                {{ order.shipping_postal_code }}
            </div>
        </div>
        <div class="container-jcleft row">
            <div class="attribute-name">
                收件地址
            </div>
            <div class="attribute">
                {{order.shipping_address}}
            </div>
        </div>
    {% endif %}
</div>

<div class="product-info">
    <div class="title">
        付款
    </div>
    <div class="container-jcleft row">
        <div class="attribute-name">
            付款方式
        </div>
        <div class="attribute">
            {{ order.get_payment_display }}
        </div>
    </div>
    <div class="container-jcleft row">
        <div class="attribute-name">
            匯款帳號末五碼
        </div>
        <div class="attribute">
            {{ order.remittance_account }}
            {% if remittance_account_editable %}
                <a class="create-order button" href="{% url 'order:edit_remittance_account' order.id %}">{% if order.remittance_account %}編輯{% else %}填寫{% endif %}</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="product-info">
    <div class="title">
        訂單內容
    </div>
    {% for order_item in order.orderitem_set.all %}
        <div class="product-item">
            <div class="container-jcleft row">
                <div class="product-name">
                    <a href="{% url 'products:detail' order_item.product.id %}">{{ order_item.item_name }}</a>
                </div>
                <div class="product-amount-price taright container-jcleft">
                    <div class="product-amount">
                        {{ order_item.amount }}
                    </div>
                    <div class="product-price">
                        NT$ {{ order_item.total_amounts }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="total">
        <div class="container-jcright row shipping-fee">
            <div class="total-left taright">
                運費
            </div>
            <div class="total-right taright">
                NT$ {{ order.shipping_fee }}
            </div>
        </div>
        <div class="container-jcright row total-amounts">
            <div class="total-left taright">
                總金額
            </div>
            <div class="total-right taright">
                NT$ {{ order.total_amount }}
            </div>
        </div>
    </div>
</div>
{% endif %}


<!-- <h1>Order {{ order.id }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
{% if order %}
    {% if shipping_data_form %}
    <form action="{% url 'order:next_step' %}" method="post">{% csrf_token %}
        <input type="hidden" name="order_id" value="{{ order.id }}">
        {% for field in shipping_data_form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
    {% else %}
            <p>{{ order.user_name }}</p>
            <p>{{ order.get_user_gender_display }}</p>
            <p>{{ order.user_contact_phone_no }}</p>
            <p>{{ order.shipping_postal_code }}</p>
            <p>{{ order.shipping_address }}</p>
    {% endif %}

            <p>${{ order.shipping_fee }}</p>
            <p>${{ order.total_amount }}</p>
            <p>{{ order.get_status_display }}</p>
            <p>{{ order.get_payment_display }}</p>

            <p>{{ order.remittance_account }}</p>
    {% if remittance_account_editable %}
        <a href="{% url 'order:edit_remittance_account' order.id %}">{% if order.remittance_account %}編輯{% else %}填寫{% endif %}匯款帳號末五碼</a>
    {% endif %}

            <p>{{ order.timestamp }}</p>

    <ol>
    {% for order_item in order.orderitem_set.all %}
        <li>
            <p>{{ order_item.item_name }}</p>
            <p>${{ order_item.unit_price }} * {{ order_item.amount }}</p>
        </li>
    {% endfor %}
    </ol>

    {% if shipping_data_form %}
        <input type="submit" value="下一步">
    </form>
    {% endif %} -->

{% endif %}

{% endblock %}
