{% extends 'base.html' %}
{% block content %}


<div class="caption"">
    我的訂單
</div>

<div class="message tacenter">
    <div class="big-message">
        以下是您的所有訂單。
    </div>
</div>

<div class="product-info">
    <div class="title">
        訂單
    </div>
    {% for order in object_list %}
        <div class="product-item">
            <div class="container-jcleft row">
                <div class="product-name">
                    <a href="{% url 'order:detail' order.id %}">{{ order }}</a>
                </div>
                <div class="order-detail taright container-jcleft">
                    <div class="order-payment">
                        {{ order.get_payment_display }}
                    </div>
                    <div class="order-status">
                        {{ order.customer_short_status_description }}
                    </div>
                    <div class="order-total-amount">
                        NT$ {{ order.total_amount }}
                    </div>
                    <div class="order-view">
                        <a href="{% url 'order:detail' order.id %}">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>



<!-- <h1>Your Orders</h1>

<ol>
{% for order in object_list %}
    <li>
        <a href="{% url 'order:detail' order.id %}">Order {{ order.id }}</a>
    </li>
{% endfor %}
</ol>
 -->
{% endblock %}