html {
    font-family: 'Noto Sans TC', sans-serif;
}

input {
    -webkit-appearance: none;  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
    -moz-appearance: none;     /* FireFox */
    appearance: none;
}

body {
    margin: 0;
}

header {
    /* background-color: coral; */
    min-height: 60px;
    padding: 0 20px;
}

main {
    padding: 0 20px;
}

@media (max-width: 600px) {
    main {
        padding: 5px;
    }
    header {
        padding: 0 5px;
    }
}

form {
    margin: 0;
}

a, .button {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none !important; }
    a:hover, a:focus , .button:hover, .button:focus {
      outline: none !important;
      -webkit-box-shadow: none;
      box-shadow: none; }

.center {
    display: grid;
    place-items: center;
}

.pi-right {
    display: grid;
    place-items: self-end;
}

.shadow-sm {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; }

.shadow {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; }

.shadow-lg {
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; }

.shadow-none {
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

.top-nav {
    /* background-color: yellow; */
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

.nav-logo {
    width: 20%;
    min-width: 100px;
}

@media (max-width: 600px) {
    .nav-logo {
        display: grid;
        place-items: center;
    }
}

.nav-logo img {
    max-width: 100%;
    max-height: 60px;
}

.nav-non-logo {
    width: 80%;
    margin: auto;
}

.nav-item {
    text-align: right;
}

.nav-item a {
    padding: 5px 10px;
    margin: 1px;
    border-radius: 8px;
    color: #646464;
    text-decoration: none;
    min-width: 50px;
    display: inline-block;
    text-align: center;
}

@media (max-width: 600px) {
    .nav-item a {
        display: block;
        text-align: right;
    }
}

.nav-item a:hover {
    background-color: #f5f5f5;
}

.page-content {
    /* background-color: yellowgreen; */
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

.caption {
    font-size: 28px;
    font-weight: 900;
    color: #444444;
    border: solid;
    border-width: 0 0 1px 0;
    border-color: lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
}

.caption h1 {
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-jcleft {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.container-jcright {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.card {
    flex: 0 1 376px;
    margin: 12px;
    border-radius: 20px;
    /* background: lightpink; */
    height: 450px;
    overflow: hidden;
    position: relative;
    background-color: #fafafa;
}

.card:hover {
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; }


.card + .large {
    flex: 1 1 100%;
}

.card a {
    text-decoration: none;
}

.card .card-image {
    width: 100%;
    height: 310px;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: auto;
    min-height: 100%;
}

.card .card-content {
    /* background: lightblue; */
    padding: 10px 18px;
}

.card .card-content .title {
    color: #000;
    font-size: 26px;
    font-weight: 900;
}

.card .card-content .sub-title {
    color: #666666;
    font-size: 20px;
    margin-top: 18px;
}

.card .card-content .tag {
    color: #222222;
    font-size: 14px;
    margin-top: 8px;
}

.card .card-content .function {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.button {
    border-style: none;
    padding: 8px 15px;
    margin: 1px;
    border-radius: 20px;
    color: black;
    background-color: lightgray;
    min-width: 40px;
}

.button:hover {
    color: white;
    background-color: darkgray;
}

.add-to-cart  {
    color: orangered;
    background-color: #ffe6d4;
}

.add-to-cart:hover {
    color: #ffe6d4;
    background-color: orangered;
}

.top-section {
    min-width: 400px;
    overflow: hidden;
    flex: 1 1 50%;
}

.top-section .intro {
    padding-right: 18px;
    padding-bottom: 18px;
    /* background-color: lightblue; */
}

.top-section .intro .title {
    color: #000;
    font-size: 32px;
    font-weight: 900;
}

.top-section .intro .sub-title {
    color: #666666;
    font-size: 20px;
    margin-top: 18px;
}

.top-section .intro .tag {
    color: #222222;
    font-size: 16px;
    margin-top: 0px;
}

.top-section .intro .function {
    margin-top: 28px;
}

.top-section .cover-image {
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
}

.top-section img {
    width: 100%;
    height: auto;
    min-height: 100%;
}

.product-info {
    margin-top: 40px;
}

.product-info .title {
    color: #000;
    font-size: 28px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    border: solid;
    border-width: 1px 0 0 0;
    border-color: lightgray;
}

.product-info .row {
    padding-top: 30px;
}

.product-info .attribute-name {
    color: #000;
    font-size: 22px;
    text-align: left;
    flex: 1 1 220px;
    max-width: 220px;
    padding-bottom: 20px;
}

.product-info .attribute {
    color: #000;
    font-size: 16px;
    text-align: left;
    flex: 1 1 500px;
    line-height: 24px;
    padding-bottom: 30px;
    border: solid;
    border-width: 0 0 1px 0;
    border-color: lightgray;
}

.product-items {
    width: 100%;
    border: solid;
    border-width: 1px 0 0 0;
    border-color: lightgray;
}

.product-item {
    width: 100%;
    border: solid;
    border-width: 0 0 1px 0;
    border-color: lightgray;
    padding-top: 30px;
    padding-bottom: 30px;
}

.product-item .product-name {
    color: #000;
    font-size: 22px;
    text-align: left;
    flex: 1 1 300px;
    padding-bottom: 10px;
}

.product-item a {
    color: #0077ed;
}

.product-item a:hover {
    color: #358ee6;
}

.product-item .product-amount-price {
    color: #000;
    font-size: 22px;
    flex: 1 1 500px;
    padding-bottom: 10px;
}

.product-item .product-amount {
    color: #000;
    flex: 1 1 200px;
}

.product-item .product-price {
    color: #000;
    flex: 1 1 300px;
}

.product-item .order-detail {
    color: #000;
    font-size: 22px;
    flex: 1 1 800px;
    padding-bottom: 10px;
}

.product-item .order-status {
    color: #000;
    flex: 1 1 250px;
    text-align: left;
}

.product-item .order-payment {
    color: #000;
    flex: 1 1 150px;
    text-align: left;
}

.product-item .order-total-amount {
    color: #000;
    flex: 1 1 150px;
    text-align: left;
}

.product-item .order-view {
    color: #000;
    flex: 1 1 100px;
}

.taright {
    text-align: right !important;
}

.tacenter {
    text-align: center !important;
}

.taleft {
    text-align: left !important;
}

.product-item .function {
    width: 100%;
}

.product-item .function .button{
    min-height: 36px;
}

.message {
    /* padding-bottom: 40px; */
}

.message .big-message {
    padding: 20px 10px;
    color: #000;
    font-size: 36px;
    font-weight: 900;
}

.message .shipping-fee-message {
    padding: 0 10px;
    color: #000;
    font-size: 16px;
}

.message .function {
    padding-top: 40px;
    margin-bottom: 70px;
    min-width: 190px;
}

.blue-button  {
    color: #0077ed;
    background-color: #f0f6fc;
}

.blue-button:hover {
    color: #f0f6fc;
    background-color: #0077ed;
}

.create-order  {
    color: #f0f6fc;
    background-color: #0077ed;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 8px;
    font-size: 16px;
}

.create-order:hover {
    color: #f0f6fc;
    background-color: #358ee6;
}

.total {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #000;
}

.total .row {
    padding-bottom: 10px;
}

.total .total-left {
    flex: 1 1 200px;
}

.total .total-right {
    flex: 1 1 300px;
    max-width: 500px;
}

.total .shipping-fee {
    color: #666666;
    font-size: 18px;
}

.total .total-amounts {
    font-weight: 900;
    font-size: 26px;
}

.total .function {
    padding: 20px 0;
}

.login-content {
    width: 100%;
    height: 80vh;
    /* background-color: purple; */
}

.login-card {
    width: 60%;
    min-height: 60%;
    /* background-color: gray; */
    min-width: 300px;
    border-style: solid;
    border-radius: 8px;
    border-color: lightgray;
    border-width: 1px;
    overflow: hidden;
}

.login-card-block {
    padding: 40px 20px;
}

.login-card .login-section {
    flex: 1 1 300px;
    background-color: #f7f7f7;
}

.login-card .create-account {
    flex: 1 1 200px;
    /* background-color: green; */
}

.text-input {
    margin: 10px 10px 0 10px;
    font-size: 16px;
    padding: 12px;
    border: 1px solid #dadce0;
    border-radius: 4px;
}

.attribute input {
    font-size: 16px;
    padding: 12px;
    border: 1px solid #dadce0;
    border-radius: 4px;
    width: 440px;
    max-width: 100%;
}

.attribute select {
    font-size: 16px;
    padding: 12px;
    border: 1px solid #dadce0;
    border-radius: 4px;
}

.login-section .text-input {
    width: 60%;
    width: 260px
}

.login-section .button {
    margin-top: 40px;
}

.login-card .text {
    width: 260px;
    /* max-width: 80%; */
    margin-bottom: 10px;
}

.login-card .text .text-caption {
    font-size: 28px;
    font-weight: 900;
}

.login-card .text .text-message {
    color: gray;
}

.create-account .button {
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 40px;
}

.error-message {
    color: #fc2f2f !important;
}




