html {
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: coral;
    min-height: 60px;
    padding: 0 20px;
}

.center {
    display: grid;
    place-items: center;
}

.top-nav {
    background-color: yellow;
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

.nav-logo {
    width: 20%;
    min-width: 100px;
}

.nav-logo img {
    max-width: 100%;
    max-height: 60px;
}

.nav-non-logo {
    width: 80%;
    margin: auto;
}

.nav-item {
    text-align: right;
}

.nav-item a {
    padding: 5px 10px;
    margin: 1px;
    border-radius: 8px;
    color: #646464;
    text-decoration: none;
}

.nav-item a:hover {
    background-color: #f5f5f5;
}
