{% extends 'base.html' %}
{% block content %}

<div class="caption"">
    更改密碼
</div>


<div class="message tacenter">
    <div class="big-message">
        {{ request.user.first_name }}，您好！
    </div>
    <div class="shipping-fee-message">
        更改密碼後，您必須重新登入！
    </div>
    {% if error_message %}<div class="shipping-fee-message error-message">{{ error_message }}</div>{% endif %}
</div>

<div class="product-info">
    <div class="title">
        確認資料
    </div>
    <form method="post">{% csrf_token %}
        {% for field in form %}
            <div class="container-jcleft row">
                <div class="attribute-name">
                    {{ field.label_tag }}
                </div>
                <div class="attribute">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <div class="container row">
            <div>
                <input class="create-order button" type="submit" value="確認並修改">
            </div>
        </div>
    </form>
</div>



{% endblock %}
